<form method="post" action="{{ path('app_account_remove', {'id': user.id}) }}" onsubmit="return confirm('Are you sure you want to remove this profile ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
    <button class="rounded-btn add_question_item_link" type="submit">Remove</button>
</form>
