{% extends 'base.html.twig' %}

{% block title %}Edit Account{% endblock %}

{% block body %}
    {{ component('navbar', {index: 3}) }}

    <div class="container-card small">
        <h1>Edit Account</h1>
        {{ include('account/_form.html.twig', {'button_label': 'Update'}) }}

        {{ include('account/_delete_form.html.twig') }}
    </div>
{% endblock %}
