:root {
    --primary-font-color: white;
    --secondary-font-color: #94a0b8;
    --separator-color: rgba(51, 60, 77, 0.6);

    --body-background-color: #05070a;
    --grandient-body-background-color: radial-gradient(rgba(0, 41, 82, 0.5), rgb(9, 11, 17));

    --card-box-shadow: rgba(9, 11, 17, 0.5) 0px 5px 15px 0px, rgba(19, 23, 32, 0.08) 0px 15px 35px -5px;

    --side-menu-item-icon-color: #6d7488;
    --side-menu-item-text-color: #b6b7b9;
    --side-menu-item-selected-background-color: #4a4e56;
    --side-menu-item-hover-background-color: #141923;
    --side-menu-background-color: #0c1017;

    --card-background-color: rgba(5, 7, 10, 0.4);
    --card-border-color: var(--separator-color);

    --input-background-color: #05070a;
    --input-border-color: var(--separator-color);
    --input-border-hover-color: #566481;
    --input-icon-color: #94a0b8;
    --input-placeholder-color: rgba(86, 100, 129, 0.7);
    --input-active-border-color: #027af2;
    --input-active-outline-color: rgba(2, 107, 212, 0.5);

    --button-background-color: #0b0e14;
    --button-border-color: #333c4d;
    --button-border-hover-color: #47536b;
    --button-background-hover-color: #0d131b;
    --button-icon-color: white;

    --button-cta-color: black;
    --button-cta-background-color: #f5f6fa;
    --button-cta-background-gradient: linear-gradient(to bottom, hsl(220, 30%, 94%), hsl(220, 35%, 97%));
    --button-cta-box-shadow: inset 0 -1px 0 hsl(220, 30%, 80%);
    --button-cta-border-color: hsl(220, 35%, 97%);
    --button-cta-background-hover-color: #c2c9d6;

    --border-radius: .5rem;
    --side-menu-width: 12rem;
    --top-mobile-menu-height: 3rem;
    --top-mobile-menu-padding: 1rem;

    --red: #ff0033;
    --orange: #ff8c00;
    --green: #29bc86;
}

@font-face {
    font-family: 'DMSans';
    src: url('../fonts/DMSans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: var(--body-background-color);
    font-family: "DMSans", sans-serif;
    margin: 0;
}

h1, h2, h3, p, label, span, strong, em, a {
    color: var(--primary-font-color);
    margin: 0;
}

h1 {
    font-size: clamp(2rem, 10vw, 2.15rem);
    font-weight: 600;
}

a {
    font-weight: 500;
}

p {
    font-weight: 400;
    font-size: 0.875rem;
}

input, select {
    background-color: var(--input-background-color);
    border: 1px solid var(--input-border-color);
    border-radius: var(--border-radius);
    color: var(--primary-font-color);
    font-family: "DMSans", sans-serif;
    font-weight: 400;
    font-size: 0.875rem;
    padding: .65rem .8rem;
}

select {
    background-image: url('../icons/chevron-down.svg');
    background-repeat: no-repeat;
    background-position: right 0.5rem center;
    background-size: .75rem;
    appearance: none;
}

input:hover {
    border: 1px solid var(--input-border-hover-color);
}
input:focus {
    outline: 3px solid var(--input-active-outline-color);
    border-color: var(--input-active-border-color);
}
input::placeholder {
    color: var(--input-placeholder-color);
}

.w100 {
    width: 100% !important;
}

.row {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
}

.wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.centered.radial-bg {
    background: var(--grandient-body-background-color);
}

.card {
    background-color: var(--card-background-color);
    border-radius: var(--border-radius);
    border: 1px solid var(--card-border-color);
    padding: 1rem;
}

.card .logo-card-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.card .logo-card-header img {
    width: 2rem;
    height: 2rem;
}
.card .logo-card-header p {
    font-size: 1rem;
    font-weight: 600;
}

.centered .card {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 100%;
    box-shadow: var(--card-box-shadow);
    padding: 2rem;
    margin: 1rem;
    max-width: 24rem;
    gap: 1rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

form label {
    font-weight: 400;
    font-size: 0.875rem;
    padding: 0;
    color: var(--secondary-font-color);
}
form .form-control {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.btn-primary {
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    background-color: var(--button-cta-background-color);
    background-image: var(--button-cta-background-gradient);
    box-shadow: var(--button-cta-box-shadow);
    border: 1px solid var(--button-cta-border-color);
    border-radius: var(--border-radius);
    color: var(--button-cta-color);
    cursor: pointer;
    font-weight: 500;
    font-size: 0.875rem;
    padding: .75rem 1rem;
    text-decoration: none;
}
.btn-primary:hover {
    background-color: var(--button-cta-background-hover-color);
    background-image: none;
}

.icon-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: var(--button-background-color);
    border: 1px solid var(--button-border-color);
    border-radius: var(--border-radius);
    color: var(--button-icon-color);
    cursor: pointer;
    font-weight: 500;
    font-size: 1rem;
    padding: .5rem;
}
.icon-btn:hover {
    background-color: var(--button-background-hover-color);
    border: 1px solid var(--button-border-hover-color);
}


.form-error-message {
    color: var(--button-cta-background-hover-color);
    font-size: 0.875rem;
    font-weight: 400;
    padding: 0;
}

.form-message {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    font-size: 0.875rem;
    font-weight: 500;
    color: var(--primary-font-color);
    border-radius: 100rem;
    padding: 0.5rem 1rem;
}
.form-message img {
    width: 1.25rem;
    height: 1.25rem;
}
.form-message.error {
    background-color: rgba(220,11,11,0.3);
    border: 1px solid rgba(220,11,11,0.5);
}

.form-message.info {
    background-color: rgba(2, 107, 212, 0.3);
    border: 1px solid rgba(2, 107, 212, 0.5);
}

.or-divider {
    display: flex;
    justify-content: center;
    align-items: center;

}
.or-divider::before, .or-divider::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid var(--separator-color);
}
.or-divider span {
    font-size: 0.875rem;
    font-weight: 500;
    color: var(--primary-font-color);
    padding: 0 .5rem;
}

.text-center {
    text-align: center;
}

/* ---------------------------------
             CSS Sidebar menu
   --------------------------------- */

.sidebar {
    margin: 0;
    padding: 0;
    width: var(--side-menu-width);
    background-color: var(--side-menu-background-color);
    border-right: 1px solid var(--separator-color);
    position: fixed;
    height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.sidebar .top {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.sidebar .top .header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    padding-bottom: 1rem;
}

.sidebar .top .header img {
    width: 2rem;
    height: 2rem;
}
.sidebar .top .header p {
    font-size: 1rem;
    font-weight: 600;
}

.sidebar .bottom {
    border-top: 1px solid var(--separator-color);
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.sidebar .bottom .user-info {
    display: flex;
    flex-direction: row;
    gap: .5rem;
    align-items: center;
}

.sidebar .nav-item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: .5rem;
    padding: .5rem .75rem;
    border-radius: var(--border-radius);
    text-decoration: none;
}
.sidebar .nav-item .icon {
    color: var(--side-menu-item-icon-color);
}
.sidebar .nav-item .text {
    color: var(--side-menu-item-text-color);
    font-size: 0.875rem;
    font-weight: 500;
}
.sidebar .nav-item.active {
    background-color: var(--side-menu-item-selected-background-color);
}
.sidebar .nav-item.active * {
    color: var(--primary-font-color);
}
.sidebar .nav-item:hover:not(.active) {
    background-color: var(--side-menu-item-hover-background-color);
}
body > div.content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-left: var(--side-menu-width);
    padding: 1rem;
}

@media screen and (max-width: 700px) {
    nav.sidebar {
        display: none;
    }
    nav.topbar {
        display: flex;
    }
    body > div.content {
        margin-left: 0;
        margin-top: calc((var(--top-mobile-menu-padding) * 2) + var(--top-mobile-menu-height));
    }
}

/* ---------------------------------
             CSS top menu
   --------------------------------- */

.topbar {
    display: none;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: var(--top-mobile-menu-padding);
    width: calc(100% - (var(--top-mobile-menu-padding) * 2));
    background-color: var(--side-menu-background-color);
    border-bottom: 1px solid var(--separator-color);
    position: fixed;
    top: 0;
    left: 0;
    height: var(--top-mobile-menu-height);
    z-index: 1000;
}

.topbar .logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.topbar .logo img {
    width: 2rem;
    height: 2rem;
}
.topbar .logo p {
    font-size: 1rem;
    font-weight: 600;
}

.sidebar.mobile {
    position: fixed;
    top: calc((var(--top-mobile-menu-padding) * 2) + var(--top-mobile-menu-height) + 1px);
    right: calc(var(--side-menu-width) * -1 - 1px);
    border: none;
    border-left: 1px solid var(--separator-color);
    height: calc(100% - ((var(--top-mobile-menu-padding) * 2) + var(--top-mobile-menu-height)) - 1px);
    transition: right 0.3s ease-in-out;
}

.sidebar.mobile.opened {
    right: 0;
}

/* ---------------------------------
                 CSS Alert
   --------------------------------- */

.alert-container {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.alert {
    padding: 20px;
    color: var(--primary-font-color);
    border-radius: var(--border-radius);
    cursor: pointer;
}
.alert.error {
    background-color: #f44336;
}
.alert.warning {
    background-color: #c5a614;
}
.alert.success {
    background-color: #009848;
}
.alert.info {
    background-color: #3682f4;
}





.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(0, var(--couple-card-width)));
    grid-gap: 1rem;
    justify-content: center;
    align-content: flex-start;
}
.grid-container.couples {
    --couple-card-width: 100%;
}
@media (min-width: 550px) {
    .grid-container.couples {
        --couple-card-width: 48%;
    }
}
@media (min-width: 1300px) {
    .grid-container.couples {
        --couple-card-width: 31%;
    }
}

.img-card-wrapper {
    display: block;
    position: relative;
    text-decoration: none;
}
.img-card {
    display: flex;
    overflow: hidden;
    background-color: var(--card-background-color);
    border-radius: var(--border-radius);
    border: 1px solid var(--card-border-color);
    position: relative;
    text-decoration: none;
    transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.img-card:hover {
    box-shadow: var(--card-box-shadow);
    border-color: var(--input-border-hover-color);
}
.img-card:hover img {
    transform: scale(1.15);
}
.img-card img {
    width: 100%;
    height: 100%;
    min-width: 20rem;
    min-height: 15rem;
    object-fit: cover;
    border-radius: var(--border-radius);
    transition: transform 0.3s ease-in-out;
}
.img-card .dark-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0.65));
}
.img-card .infos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    width: calc(100% - 2rem);
}
.img-card .infos .couple-name p {
    font-size: .875rem;
    font-weight: 500;
    color: var(--primary-font-color);
}
.img-card .infos .couple-status {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}
.img-card .infos .couple-status > * {
    font-size: .875rem;
    color: var(--primary-font-color);
}

.img-card-wrapper .notif {
    position: absolute;
    top: -0.6125rem;
    right: -0.75rem;
}

.fa-solid.red {
    color: var(--red) !important;
}
.fa-solid.orange {
    color: var(--orange) !important;
}
.fa-solid.green {
    color: var(--green) !important;
}


/* ---------------------------------
             Stream Player
   --------------------------------- */

.stream-player-container {
    width: fit-content;
    height: 100%;
    background-color: var(--card-border-color);
    border-radius: var(--border-radius);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto auto 1rem;
    position: relative;
    overflow: hidden;
}

.stream-player-container .loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
    color: var(--secondary-font-color);
    z-index: 0;
}

.stream-player-container img {
    width: 100%;
    height: 100%;
    max-height: calc(100vh - 2rem);
    object-fit: contain;
    z-index: 1;
    min-width: 20rem;
    min-height: 15rem;
}

.stream-player-container .title {
    position: absolute;
    top: 1rem;
    left: 1rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    z-index: 2;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.stream-player-container .title > * {
    font-size: 1.25rem;
}

.stream-player-container .dark-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0.65));
    z-index: 2;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.stream-player-container .controls {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    padding: 0 .5rem;
    z-index: 2;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;
}

.stream-player-container .controls .player-btn {
    background: none;
    border: none;
    color: rgba(255, 255, 255, 0.85);
    padding: 1rem .5rem;
    cursor: pointer;
    font-size: 1.25rem;
    filter: drop-shadow(0 0 1px #000);
    transition: color 0.2s ease-in-out;
}
.stream-player-container .controls .player-btn:hover {
    color: white;
}

.stream-player-container.display-ui .controls,
.stream-player-container.display-ui .dark-overlay,
.stream-player-container.display-ui .title,
.stream-player-container:hover .controls,
.stream-player-container:hover .dark-overlay,
.stream-player-container:hover .title
{
    opacity: 1;
    pointer-events: all;
}

/* ---------------------------------
             Drop up
   --------------------------------- */

.dropup {
    position: relative;
    display: inline-block;
}
.dropup-content {
    display: none;
    flex-direction: column;
    position: absolute;
    background-color: var(--side-menu-background-color);
    border: 1px solid var(--separator-color);
    border-radius: var(--border-radius);
    bottom: 85%;
    right: calc(-50% + .25rem);
    z-index: 1;
    overflow: hidden;
}
.dropup-content * {
    color: var(--primary-font-color);
    background: none;
    border: none;
    padding: .5rem .75rem;
    text-decoration: none;
    display: block;
    font-size: 0.875rem;
    cursor: pointer;
}
.dropup-content *:hover {
    background-color: var(--side-menu-item-hover-background-color);
}
.dropup.opened .dropup-content,
.dropup:hover .dropup-content {
    display: flex;
}

/* ---------------------------------
        Camera states & actions
   --------------------------------- */

.camera-states {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
}
.camera-states .separator {
    width: 1px;
    height: 3rem;
    background-color: var(--separator-color);
}
.camera-states .state {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

@media (max-width: 550px) {
    .camera-states {
        flex-direction: column;
    }
    .camera-states .separator {
        width: 75%;
        height: 1px;
    }
}

.camera-actions {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.camera-actions > * {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
}
.camera-actions .action {
    cursor: pointer;
}
.camera-actions .action:hover {
    border-color: var(--input-border-hover-color);
    background-color: var(--button-background-hover-color);
}

.camera-states .state .fa-solid, .camera-actions .action .fa-solid {
    font-size: 1.25rem;
}
.camera-states .state .desc, .camera-actions .action .desc {
    font-size: 0.875rem;
    font-weight: 500;
    text-align: center;
    color: var(--secondary-font-color);
    font-family: DMSans, sans-serif;
}


/* ---------------------------------
             History list
   --------------------------------- */

.history-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.history-list .item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
    padding: 0;
    text-decoration: none;
}
.history-list .item .infos {
    display: flex;
    flex-direction: column;
    gap: .25rem;
    padding: 1rem;
}
.history-list .item .infos .type {
    font-size: 1rem;
    font-weight: 600;
    color: var(--primary-font-color);
}
.history-list .item .infos .date, .history-list .item .infos .source {
    font-size: .75rem;
    font-weight: 400;
    color: var(--secondary-font-color);
}
.history-list .item .preview {
    width: 8rem;
    margin: .5rem;
    border-radius: calc(var(--border-radius) / 2);
}

@media (min-width: 550px) {
    .history-list .item .preview {
        width: 10rem;
    }
    .history-list .item .infos .type {
        font-size: 1.15rem;
    }
    .history-list .item .infos .date, .history-list .item .infos .source {
        font-size: .9rem;
    }
}
@media (min-width: 1300px) {
    .history-list .item .preview {
        width: 12rem;
    }
    .history-list .item .infos .type {
        font-size: 1.3rem;
    }
    .history-list .item .infos .date, .history-list .item .infos .source {
        font-size: 1.05rem;
    }
}

/* ---------------------------------
       CSS Notification pastilla
   --------------------------------- */

.notif {
    height: 1.25rem;
    padding: 0 .4rem;
    background-color: #ff0033;
    border-radius: 100rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.notif span:not(.fa-solid) {
    font-size: 0.75rem;
    font-weight: 500;
    color: white;
}
.notif .fa-solid {
    font-size: 0.75rem;
    color: white;
    margin-right: .15rem;
}

.notif.big {
    height: 1.5rem;
    padding: 0 .5rem;
}
.notif.big * {
    font-size: 1rem !important;
}
.notif.big span:not(.fa-solid) {
    font-weight: 600;
}
.notif.big .fa-solid {
    margin-right: .3rem;
}


/* ---------------------------------
                CSS Popup
   --------------------------------- */

.modal-wrapper {
    background: none;
    border: none;
    padding: 0;
}
.modal-wrapper::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

.modal {
    background-color: var(--side-menu-background-color);
    border-radius: var(--border-radius);
    border: 1px solid var(--card-border-color);
    padding: 1.25rem;
    box-shadow: var(--card-box-shadow);
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}
.modal .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}
.modal .header .title {
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--primary-font-color);
}
.modal .header .close-btn {
    background: none;
    border: none;
    color: var(--secondary-font-color);
    cursor: pointer;
    font-size: 1.25rem;
}
.modal .content {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 1rem;
}
.modal .content .fa-solid {
    font-size: 1.75rem;
    color: var(--primary-font-color);
}
.modal .content p {
    font-size: 0.875rem;
    font-weight: 400;
    color: var(--primary-font-color);
}

.modal .footer {
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 0.5rem;
}
.modal .footer .confirm-btn {
    background-color: var(--red);
    border-radius: var(--border-radius);
    color: var(--primary-font-color);
    cursor: pointer;
    font-weight: 500;
    font-size: 1rem;
    padding: .5rem .75rem;
    border: none;
    text-decoration: none;
}
.modal .footer .cancel-btn {
    background: none;
    border: 1px solid var(--button-border-color);
    color: var(--secondary-font-color);
    cursor: pointer;
    font-size: 1rem;
    padding: .5rem .75rem;
    border-radius: var(--border-radius);
    transition: background-color 0.3s ease-in-out;
}
.modal .footer .cancel-btn:hover {
    background-color: var(--button-background-hover-color);
    border: 1px solid var(--button-border-hover-color);
}

.pagination-controls .pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.pagination-controls .pagination .page {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--button-background-color);
    border: 1px solid var(--button-border-color);
    border-radius: var(--border-radius);
    color: var(--button-icon-color);
    cursor: pointer;
    font-weight: 500;
    font-size: 1rem;
    padding: .5rem .75rem;
}

.pagination-controls .pagination .page:hover {
    background-color: var(--button-background-hover-color);
    border: 1px solid var(--button-border-hover-color);
}

.pagination-controls .pagination .current {
    background-color: var(--button-cta-background-color);
    border: 1px solid var(--button-cta-border-color);
    color: var(--button-cta-color);
}