<div class="form-control" id="serverTimeContainer">
    <label for="serverTime">Date et heure du serveur</label>
    <input
        type="datetime-local"
        name="server-time"
        id="serverTime"
        value="{{ serverTime }}"
        required
        autofocus
    />
</div>
