{% extends 'base.html.twig' %}

{% block title %}Leaderboard{% endblock %}

{% block body %}
    {{ component('navbar', {index: 1}) }}
    <div class="centered">
        <div class="container-card small">
            <h1>Question {{ questionIndex }}</h1>
            <p>{{ question.getStatement() }}</p>
            {{ include('question/_form.html.twig', {'button_label': 'Valider'}) }}
        </div>
    </div>

{% endblock %}