{% extends 'base.html.twig' %}

{% block body %}
    {{ component('navigation', {index: 1}) }}
    <div class="content">
        <h2>Your detections</h2>

        <div class="grid-container couples">
            {% if detections is not null %}
                {% for detection in detections %}
                    {{ component('detectioncard', {detection: detection, coupleName: 's'}) }}
                {% endfor %}
            {% else %}
                <p class="no-result">You have no detections yet. Start by adding a new one.</p>
            {% endif %}
        </div>
    </div>

{% endblock %}
