{% extends 'base.html.twig' %}

{% block body %}
    {{ component('navigation', {index: 1}) }}
    <div class="content">
        <h2>Your detections</h2>

         <div class="history-list">
            {% if detections|length > 0 %}
                {% for detection in detections %}
                    {{ component('detectioncard', {detection: detection, coupleName: detection.couple.title}) }}
                {% endfor %}
            {% else %}
                <p class="no-result">You have no detections yet.</p>
            {% endif %}
        </div>

        <div class="pagination">
            {{ knp_pagination_render(detections) }}
        </div>
    </div>

{% endblock %}
