{% extends 'base.html.twig' %}

{% block body %}
    {{ component('navigation', {index: 1}) }}
    {{ component('confirmdialog', {
        title: 'Remove detection',
        message: 'Are you sure you want to remove this detection? This action is irreversible.',
        confirmUrl: path('app_detections_delete', {id: detection.id}),
    }) }}
    <div class="content">
        <div class="stream-player-container">
            <img src="{{ asset('eeuuuuhhh') }}" alt="">
        </div>

        <div class="camera-states card">
            <div class="state">
                <span class="fa-solid fa-calendar"></span>
                <p class="desc">{{ detection.triggeredAt|date("d/m/Y H:i:s") }}</p>
            </div>
            <div class="separator"></div>
            <div class="state">
                <span class="fa-solid fa-camera"></span>
                <p class="desc">Oui</p>
            </div>
        </div>
        <div class="camera-actions">
            <button type="button"
                    class="card action"
                    onclick="document.getElementById('confirm-modal').showModal()">
                <span class="fa-solid fa-trash red"></span>
                <p class="desc">Remove detection</p>
            </button>
        </div>
    </div>
{% endblock %}