{% extends 'base.html.twig' %}

{% block body %}
    {{ component('navigation', {index: 0}) }}
    <div class="content">
        <h2>Your cameras</h2>

        <a href="{{ path('app_couples_add') }}" class="btn-primary"><i class="fa-solid fa-plus"></i> Add a camera</a>

        {% if couples is not null %}
            <div class="grid-container couples">
                {% for couple in couples %}
                    {{ component('couplecard', {couple: couple, wifi: wifi}) }}
                {% endfor %}
                {% if couples is empty %}
                    <p class="no-result">You have no cameras yet. Start by adding a new one.</p>
                {% endif %}
            </div>
        {% endif %}
    </div>

{% endblock %}
