{% extends 'base.html.twig' %}

{% block body %}
    {{ component('navigation', {index: 0}) }}
    <div class="content">
        <a href="{{ path('app_couples_add') }}" class="rounded-btn"><i class="fa-solid fa-plus"></i> Ajouter une nouvelle alarme</a>

        {% if couple is not null %}
            <h2>🔎 alarm list</h2>
            <div class="quiz-grid-container">
                {% for device in couple %}
                    {{ component('couplecard', {couple: device, wifi:wifi}) }}
                {% endfor %}
                {% if couple is empty %}
                    <p class="no-result">You have no alarm</p>
                {% endif %}
            </div>
            <hr>
        {% endif %}


    </div>

{% endblock %}
