{% extends 'base.html.twig' %}

{% block body %}
<table class="devices-table">
        <thead>
            <tr>
                <th>MAC Address</th>
                <th>IP Address</th>
                <th>Type</th>
            </tr>
        </thead>
        <tbody>
            {% for device in devices %}
                <tr>
                    <td>{{ device.macAddress }}</td>
                    <td>{{ device.ip }}</td>
                    <td>{{ device.isCamera ? "Module caméra" : "Module d'action" }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
